name: GoReleaser

on:
  push:
    tags:
      - "v*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Run GoReleaser (Cross)
        run: |
          docker run \
            --rm \
            -e GITHUB_TOKEN=$GITHUB_TOKEN \
            -e HOMEBREW_TAP_GITHUB_TOKEN=$HOMEBREW_TAP_GITHUB_TOKEN \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v $PWD:/src \
            -w /src \
            ghcr.io/goreleaser/goreleaser-cross:v1.23 \
            release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
